.class_section_index_container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    /* height: 500px; */
}

.class_section_index_information_container {
    display: flex;
    flex-direction: column;
}

.class_section_index_information_container ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 25px;
}

.class_section_index_information_container ul li {
    display: flex;
    align-items: center;
    width: 350px;
    padding: 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    font-size: 14px;
    color: rgb(66, 66, 66);
    font-weight: bolder;
    gap: 10px;
    cursor: pointer;
}