.class_section_announcement_container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: var(--body-max-width);
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.class_section_announcement_container i {
    color: #a8ace6;
}

.class_section_announcement_container span {
    padding: 10px;
    color: #3a3939;
}